<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.kjmaster.cookiemom"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="16"/>


    <application
            android:icon="@drawable/cookie_momster"
            android:theme="@style/AppTheme"
            android:label="@string/app_name" android:name=".Main_">
        <activity
                android:name="MainActivity_"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".cupboard.CupboardOrderActivity_" android:label="Scout Order"/>
        <activity android:name=".scout.add.AddScoutActivity_" android:label="Add Scout"/>
        <activity android:name=".booth.add.AddBoothActivity_" android:label="Add Booth"/>
        <activity android:name=".scout.select.SelectScoutListActivity_" android:label="Select Scout"/>
        <activity android:name=".scout.order.ScoutOrderActivity_" android:label="Scout Order"/>
        <activity android:name=".cupboard.CupboardPickupActivity_" android:label="Pickup from Cupboard"/>
        <activity android:name=".scout.pickup.ScoutPickupActivity_" android:label="@string/scout_pickup_order_title"/>
        <activity android:name=".booth.checking.BoothCheckInActivity_" android:label="@string/checkin"/>
        <activity android:name=".booth.checking.BoothCheckOutActivity_" android:label="@string/checkout"/>
        <activity android:name=".booth.order.BoothOrderActivity_" android:label="@string/order"/>
        <activity android:name=".scout.turnin.ScoutTurnInActivity_" android:label="Turn In"/>

    </application>

</manifest>